.table_dark, .list_dark  {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    margin: 10px;
}

.table_dark th {
    color: #EDB749;
    border-bottom: 1px solid #37B5A5;
    padding: 0.2rem 0.4rem;
    width: max-content;
}
  
  
.table_dark td, .list_dark li {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right: 1px solid #37B5A5;
    padding: 0.2rem 0.4rem;
    width: max-content;
}
  
.list_dark li {
    width: 100%;
}
  
.list_dark li:hover {
    color: orange
}
  
.checked {
    text-decoration: line-through;
}
  
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
.checkbox:checked ~ strong {
    color: chartreuse;
    text-decoration: line-through;
}
  
strong {
    cursor: pointer;
}

.error {
    color: darkred;
    text-align: center;
}